<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="11">
        <ion-list>
          <ion-item-sliding *ngFor="let item of userList; let i = index; ">
            <ion-item>
              <ion-label>
                <ion-grid class="vertical-align-content">
                  <div *ngIf="actualUser == item.userName then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                  <ion-row class="ion-justify-content-center">
                    <ion-col center text-center (click)="selectUser(item.userName)" style="vertical-align: middle;">
                      <b>{{ item.userName }} (current)</b>
                    </ion-col>
                    <ion-col center text-center class="ion-text-end">
                      <ion-button fill="clear" (click)="changeUserName();" size="small"><ion-icon slot="start" name="create-outline"></ion-icon></ion-button>
                    </ion-col>
                  </ion-row>
                  </ng-template>
                  <ng-template #elseBlock>
                    <ion-row class="ion-justify-content-center">
                      <ion-col center text-center (click)="selectUser(item.userName)"  style="vertical-align: middle;">
                        {{ item.userName }}
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <ion-button fill="clear" (click)="deleteUser(item.userName);" size="small"><ion-icon slot="start" name="trash-outline"></ion-icon></ion-button>
                      </ion-col>
                    </ion-row>
                  </ng-template>
                  
                </ion-grid>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
        
        <ion-button size="small" fill="clear" color="primary" (click)="clearUserHistory()" expand="block">Clear user history</ion-button>
        <!--ion-button color="primary" (click)="clearLocalStorage()" expand="full">Clear users and data</ion-button-->

      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10" text-center>
        <div style="ßtext-align: center;"><b>credits</b><br>
        Simon Hausermann & Daniel Schmidt<br>
        2020 during Corona in SW Australia</div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" sedge slot="fixed">
    <ion-fab-button (click)="addUser()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>


  <app-explore-container name="Settings"></app-explore-container>
</ion-content>

