<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'EXPORT.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="date" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="date">
        <ion-label>{{ 'EXPORT.withDate' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="time">
        <ion-label>{{ 'EXPORT.justTime' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{ 'EXPORT.title' | translate }}</ion-label>
    <ion-textarea [(ngModel)]="exportArea" rows="20"></ion-textarea>
  </ion-item>
</ion-content>
