<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'TAB2.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="ion-padding">
    
    <ion-card>
      <ion-card-content>
        <div  style="text-align: center;">{{ 'TAB2.graphShows' | translate }}: 
          <a (click)="drawChart(5)" [class.bold]="graphCount == 5">Ao5</a> | 
          <a (click)="drawChart(12)" [class.bold]="graphCount == 12">Ao12</a> | 
          <a (click)="drawChart(50)" [class.bold]="graphCount == 50">50</a> | 
          <a (click)="drawChart(0)" [class.bold]="graphCount == 0">all</a></div>
      </ion-card-content>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
      <ion-card-content>
        <b>{{ 'TAB2.personalTitle' | translate }}</b>
        <ion-grid>
          <ion-row>
            <ion-col>{{ 'TAB2.personalBest' | translate }}:</ion-col>
            <ion-col>{{ bestTime }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'TAB2.personalAverage' | translate }}:</ion-col><ion-col>{{ averageTime }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'TAB2.personalSDeviation' | translate }}:</ion-col><ion-col>{{ sDeviation }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'TAB2.personalCount' | translate }}:</ion-col><ion-col>{{ countTimes }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      <b>{{ 'TAB2.ao5Title' | translate }}</b>
        <ion-grid>
          <ion-row>
            <ion-col>{{ 'TAB2.ao5Ao5' | translate }}</ion-col><ion-col>{{ ao5 }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'TAB2.ao5Best' | translate }}</ion-col><ion-col>{{ ao5Best }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'TAB2.ao5Worst' | translate }}</ion-col><ion-col>{{ ao5Worst }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      <b>{{ 'TAB2.ao12Title' | translate }}</b>
        <ion-grid>
          <ion-row>
            <ion-col>{{ 'TAB2.ao12Ao12' | translate }}</ion-col><ion-col>{{ ao12 }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'TAB2.ao12Best' | translate }}</ion-col><ion-col>{{ ao12Best }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'TAB2.ao12Worst' | translate }}</ion-col><ion-col>{{ ao12Worst }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <app-explore-container name="Statistics"></app-explore-container>
</ion-content>
