<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rubicount
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="clickTimer()">

  <ion-row>
    
    <ion-col >
      <div class="ion-text-center"><ion-label class="timer">{{currentTimeDisplay}}</ion-label></div>
      
    </ion-col>
  </ion-row>
  
  
    <div class="ion-text-center">Best time: {{ bestTime }}</div>
   
  <ion-content class="funfact">
    {{ funFact }}
</ion-content>
  
  
  <app-explore-container name="Timer"></app-explore-container>
</ion-content>


