ion-content ion-toolbar {
  --background: translucent;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/RobotoMono-Regular.ttf');
}

.timer {
  font-family: 'Roboto Mono';
  font-size: 10vw !important;
  width: 100%;
  margin-top: 25px; 
  margin-bottom: 20px; 
  text-align: center;
}

.funfact
{
  font-size: 3.5vw !important;
  text-align: center;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}