<ion-content [fullscreen]="true" (click)="clickTimer()">

  <ion-grid style="border-color: black;">
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="11">
      <br><br>
      <picture>
        <source srcset="../../assets/images/logowhite.png" media="(prefers-color-scheme: dark)" />
        <source srcset="../../assets/images/logo.png" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
        <img src="../../assets/images/logo.png" loading="lazy" />
      </picture>
      </ion-col>
    <ion-col></ion-col>
  </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="11">
        <div class="ion-text-center" class="user" *ngIf="showIt"><b>{{ actualUser }}</b></div><div class="user"  *ngIf="!showIt">&nbsp;</div>
        <div class="ion-text-center" class="user" *ngIf="showIt">{{ 'TAB1.bestTime' | translate }}: {{ bestTime }}</div><div class="user"  *ngIf="!showIt">&nbsp;</div>
        <div class="timer">{{ currentTimeDisplay }}</div>
        <div class="smallCenter" *ngIf="showIt && finishedTry; else elseBlock">
          <ion-button *ngIf="showIt && !plus2; else elsePlus2" class="click-block" style="--box-shadow:none;" size="small" color="light" (click)="tryPlusTwo();$event.stopPropagation()">  +2  </ion-button>
          <ng-template #elsePlus2><ion-button class="click-block" style="--box-shadow:none;" size="small" color="warning" (click)="tryPlusTwo();$event.stopPropagation()">  +2  </ion-button></ng-template>
          <!--ion-button class="click-block" size="small" color="light" (click)="tryDNF()">DNF</ion-button-->
          <ion-button class="click-block" style="--box-shadow:none;" size="small" color="light" (click)="tryDelete();$event.stopPropagation()">{{ 'TAB1.btnDelete' | translate }}</ion-button>
          <ion-button class="click-block" style="--box-shadow:none;" size="small" color="light" (click)="sendShare(); $event.stopPropagation()">{{ 'TAB1.btnShare' | translate }}</ion-button>
        </div>
        <ng-template #elseBlock><div class="smallCenter">&nbsp;</div></ng-template>
        <div class="smallCenter" *ngIf="firstShow"><ion-text color="danger"><b>{{ 'TAB1.firstStart' | translate }}</b></ion-text></div>
        <div class="smallCenter" *ngIf="showIt">{{ scrambleTournament }}<br>
        {{ scrambleString }}</div>
          <picture>
            <source srcset="../../assets/images/handswhite.png" media="(prefers-color-scheme: dark)" />
            <source srcset="../../assets/images/hands.png" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
            <img src="../../assets/images/hands.png" loading="lazy"  *ngIf="showIt" />
          </picture>
      </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col size="10">
      <div class="funfact" *ngIf="showIt">{{ funFact }}</div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
  
  <app-explore-container name="Timer"></app-explore-container>
</ion-content>


