ion-content ion-toolbar {
  --background: translucent;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/RobotoMono-Regular.ttf');
}

.timer {
  font-family: 'Roboto Mono';
  font-size: 3em !important;
  width: 100%;
  margin-top: 10px; margin-bottom: 5px; 
  text-align: center;
}

.user {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.2em !important;
  text-align: center;
}

.funfact
{
  text-align: center;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}